*{
    margin:0;
    padding: 0;
    font-family: 'poppins',monospace ;
    box-sizing: border-box;
}


.cover{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(76, 76, 174, 0.8),rgba(0,0,2.5,0.8)), url(group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;



    
}

.form-box{
    width:90%;
    max-width:450px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(24, 1, 1, 0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding:50px 60px 80px;
    text-align: center;
    color:rgb(20, 20, 21);



}

.form-box h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
  
    color:rgb(51, 27, 171);
    position: relative;
     z-index: 1; 
    
}
.form-box h1::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: rgb(37, 46, 174);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;


}

.input-field{
    background: #eaeaea;
    margin:15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height:65px;
    transition: max-height 0.3s;
    overflow: hidden;


}
input{
    width:100%; 
    background-color: transparent;
     border:0;
    outline:0; 
    padding:12px 18px; 
    font-weight: 200;
    transition: 0.5;


}

.input-field i{
    margin-left:15px;
    color:#999;
    font-size: 18px;
    /* cursor: pointer; */
    transition: 0.5s;
    position: relative;
    z-index: 1;


    
}
form p{
    text-align: left;
    font-size: 14px;
}

form p a{
    text-decoration: none;
    color:rgb(48, 48, 187);


}
.btn-field{
    border-radius:4px;
    padding:10px 20px;
    font-weight: 200;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    

}
.btn-field button{
    flex-basis:48%;
    border:0;
    outline:0;
    cursor: pointer;
    border-radius: 20px;
    background: #2424d4;
    color:#fff;
    transition: 0.5s;
    height:40px;
    



}
.input-group{
    height:280px;

} 
.btn-field button.disable{
  
    background-color: #ded5d5;
    color:#555;
    
} 
